<style type="text/css">
  .btn-danger {
    color: #fff;
    background-color: #af113c;
    border-color: #af113c;
  }
</style>
<header class="header">
  <div class="container">
    <div class="row">
      <nav class="navbar navbar-default bootsnav">
    <div class="container">      
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand"><img src="LOGO_ADDRESS" class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#">Home</a></li>                    
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>   
</nav>
    </div><!-- end row -->
  </div><!-- end container -->
</header>
