<style type="text/css">
  .btn-danger {
    color: #fff;
    background-color: #af113c;
    border-color: #af113c;
  }
</style>
<header class="header hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a href="/" class="brand-logo"><img src="img/Final-Logo-35-North.png" /></a>
        </div>
      </div>
      <div class="col-sm-8">
        <nav class="simp-nav navbar-right">
          <ul>
            <li class="simp-nav__item"><a data-toggle="modal" data-target="#enquiry" class="btn btn-primary page-scroll" style="color:#ffffff;"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Investor Login</a></li>
            <li class="simp-nav__item"><a data-toggle="modal" data-target="#investee" class="btn btn-danger page-scroll" style="color:#ffffff;"> <i class="fa fa-envelope-o" aria-hidden="true"></i> Investee</a></li> 
            <li class="simp-nav__item"><a href="#contact-us" data-target="contact" data-offset="0" >Contact</a></li>
            <li class="simp-nav__item" style="margin-right:10px;"><a href="/media-room" data-target="contact" data-offset="0" >Media Room&nbsp; | </a></li>
            <li class="simp-nav__item" style="margin-right:10px;"><a href="/investment-approach" data-target="contact" data-offset="0" >Investment Approach | </a></li>
          </ul>
        </nav>
      </div><!-- end colsm -->
    </div><!-- end row -->
  </div><!-- end container -->
</header>

<nav class="navbar navbar-default navbar-mobile bootsnav visible-xs">
    <div class="container">      
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#brand"><img src="LOGO_ADDRESS" class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            
            <ul class="nav navbar-nav navbar-right">

                <li><a href="#">Home</a></li>                    
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>   
</nav>
