<section class="container-fluid crg">
	<div class="row">
	    <div class="container">
			<div class="row">
		        <div class="col-sm-12 crg__headline-main text-center">
		          <h2 class="lede__headline">Opportunity Pipeline</h2>
		          <p class="lede__subheadline">Access to strong pipeline of quality opportunities though multiple sources
		          </p>
		          <hr class="lede__border">
		          <p><img src="/assets/images/client-logos.jpg" alt="client logos" />
		        </div>
	      	</div>
	    </div>
	</div>
</section>