<style type="text/css">
.crg {
  padding: 30px 0;
}
.crg__item {
  padding-bottom: 20px;
  padding-top: 10px;
}

.crg__item-content p {
  font-size: 1.0em;
  color: #8B8D8F;
  font-weight: 300;
}


.crg__item-headline {
  padding-left: 12px;
  padding-bottom: 10px;
  color: #A41034;
  font-weight: 300;
}

</style>

<section class="container-fluid crg">
  <div class="row">
    <div class="container">

<div class="row">
        <div class="col-sm-12 crg__headline-main text-center">
          <h2 class="lede__headline">Our Edge</h2>
          <p class="lede__subheadline">We provide a unique set of offerings to the investors and partners through Aranca, our affiliate company
          </p>
          <hr class="lede__border">
        </div>
      </div>
<p> <br></p>
<div class="row crg__item" style="border-bottom: 1px solid #ECE9E9;">
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="https://www.aranca.com/assets/images/global-scale.jpg" class="img-center" alt="crg-icon" style="border-radius: 10px;">
        </div>
        <div class="col-sm-5">
          <h3 class="crg__item-headline">Long-standing relationship with global partners for successful exits</h3>
            <div class="col-sm-12 crg__item-content">
              <p>Global presence through offices in India, China, the US, Europe, and the Middle East provides access to a network of 2000+ HNIs, PE/VC, investment houses, partners, and corporates for a successful exits</p>
            </div>
        </div>
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="/assets/images/experience.jpg" class="img-center" alt="crg-icon"  style="border-radius: 10px;">
        </div>
        <div class="col-sm-5">
          <h3 class="crg__item-headline">Extensive experience in  working with emerging businesses</h3>
            <div class="col-sm-12 crg__item-content">
              <p>Worked with over 1500+ high-growth emerging businesses based out of Silicon Valley (US), Europe, and India as well as large corporates and institutions across the globe. </p>
            </div>
        </div>
      </div>

<p> <br></p>
<div class="row crg__item">
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="/assets/images/Startup-Companies.jpg" class="img-center" alt="crg-icon" style="border-radius: 10px;">
        </div>
        <div class="col-sm-5">
          <h3 class="crg__item-headline">Assist start-ups in their growth phase through an existing setup of support services </h3>
            <div class="col-sm-12 crg__item-content">
              <p>Assist start-ups to achieve efficiency by collaborating with in-house operational support teams, such as Information Technology, Marketing, Admin & HR, and Finance & Accounting</p>
            </div>
        </div>
        <div class="col-sm-1" style="padding-top: 20px;">
          <img src="https://www.aranca.com/assets/images/tech-knowledge.jpg" class="img-center" alt="crg-icon" style="border-radius: 10px;">
        </div>
        <div class="col-sm-5">
          <h3 class="crg__item-headline">600+ qualified analyst pool with deep understanding of traditional as well as new-age economy sectors</h3>
            <div class="col-sm-12 crg__item-content">
             <p>Varied and diverse advisory engagements across 120+ sectors including new-age economy sectors and traditional sectors.</p>
            </div>
        </div>
      </div>

    </div><!-- end container -->
  </div><!-- end row -->
</section>
