<style type="text/css">

.full-cta-a {
  /*background: url(http://www.aranca.com/assets/uploads/cta-banner/br-cta-banner.jpg) no-repeat center center;*/
  background: #f5f5f5;
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 200px;
  position: relative;
  overflow-x: hidden;
  padding-top: 40px;

}



.full-cta-a__content {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
}

.full-cta-a__headline {
  color: white;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 0.05em;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.full-cta-a__body {
  border: 2px solid white;
  padding: 10px;
  text-transform: uppercase;
}

.full-cta-a__body > a {
  color: white;
}

.call-to-action {
  background-color: #3498db;
  background-image: -webkit-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -moz-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: -o-linear-gradient(#4aa3df 0%, #258cd1 100%);
  background-image: linear-gradient(#4aa3df 0%, #258cd1 100%);
  -webkit-border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 4px;
  -moz-background-clip: padding;
  border-radius: 4px;
  background-clip: padding-box;
  padding: 10px 60px;
  border: none;
  box-shadow: 1px 2px 6px #256498;
  color: white;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 0.06em;
  font-weight: 500;
}

@media only screen and (max-width : 480px) {
  .full-cta-a__headline {
    font-size: 1.5em;
  }
}


</style>

<section class="container-fluid full-cta-a">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="full-cta-a__content">
            <h3 class="lede__headline"></h3>
            <p class="text-center">
            <a class="call-to-action" role="button"   data-toggle="modal" data-target="#myModal" ><i class="fa fa-envelope-o" aria-hidden="true"></i>  Write to us to know more</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



