
<section>
  <div class="container">
    <div class="row text-center">
      <h1 class="landing__headline" style="margin-top:10px;">Our Fund Strategy</h1>
      <hr class="divider-center">
    </div>
      <div class="landing__content" style="text-align: left;">
        <p style="font-family:Verdana;">As a business catalyst, we harness the powers of our management team's experience in building global businesses and astute fund management. With the help of our well-developed partner and deal-flow ecosystem to identify potential investments, we invest in entrepreneurs with businesses that are commercially viable and have a market-tested revenue model.</p>
        <br/>
        <!-- <h2 class="landing__headline">What we do</h2> -->
      </div>
      <!-- End of landing__content -->
    <div class="row text-center">
      <!-- <div class="col-sm-12">
        <img src="img/fund-strategy.jpg" />
      </div> -->
    </div><!-- E: row -->

  </div><!-- E: container -->
</section>

<a id ="our-team"> </a>
