<style type="text/css">
    #intro-2c2r {
        padding: 10px 0;
    }
    #intro-2c2r .para {
        text-align: justify;
        color: #8c8c8c;
    }
    .lede__headline {
        font-size: 1.5em;
    }
</style>

<section id="intro-2c2r" style="background-color: #c3e2f5;">
    <div class="container">    
        <!-- Intro Content -->
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
            <img class="img-responsive img-thumbnail" src="img/Target-Firms-Sector.png" alt="" style="margin-top:40px;">
            </div>
            <div class="col-md-7">
                <h3 class="lede__headline" style="text-align:left;">Target Firms / Sector</h3>
                <h4 style="color:#345489">Firm: </h4>
                <p class="para">High-growth products and services companies with a revenue history of more than two quarters</p>
                <h4 style="color:#345489">Sector: </h4>
                <p class="para">Consumer-driven segments and technology sector</p>

            </div>
        </div>
        <!-- /.row -->


    </div>
</section>

<section id="intro-2c2r" style="background-color: rgba(158, 158, 158, 0.2);">
    <div class="container">    
        <!-- Intro Content -->

        <div class="row" style="padding-top:30px;">
            <div class="col-md-7  col-md-offset-1">
                <h3 class="lede__headline" style="text-align:left;">Funding Series</h3>
                <h4 style="color:#345489">Post angel investments and during Pre-Series A or Series A</h4>
                <ul style="list-style: disc; padding-left:20px;">
                    <li>Companies with commercial validation of the business plan</li>
                    <li>Companies with a revenue-generation history of at least two quarters</li>
                    <li>Stability of Management Team / Promoters</li>
                    <li>Relatively mature Go-To-Market Strategy</li>
                </ul>


            </div>
            <div class="col-md-3">
            <img class="img-responsive img-thumbnail" src="img/Funding-series-2.png" alt="" style="margin-top:40px;">
            </div>
        </div>
        <!-- /.row -->

    </div>
</section>