<style type="text/css">
.modal-body {
  width: 100%;
}
.modal-header {
  background-color: #1c4586;
  color: #ffffff;
}
.my-submit { 
  color: #FFFFFF; 
  background-color: #1C4586; 
  border: 1px solid #130269;
      padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    font-style: "Roboto", Arial, sans-serif;
} 
 
.my-submit:hover, 
.my-submit:focus, 
.my-submit:active, 
.my-submit.active, 
.open .dropdown-toggle.my-submit { 
  color: #FFFFFF; 
  background-color: #416196; 
  border-color: #130269; 
} 
#investee input {
    background: #fff;
    height: 44px;
    border: 1px solid #fff;
    border-radius: 3px;
    outline: none;
    color: #000;
    font-size: 15px;
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 10px;
</style>

<div id="investee" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Investee Form</h4>
      </div>
      <div class="modal-body">

        <div class="form-modal-hub-form">

        <!-- Start - Hubspot code start -->

        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({ 
            portalId: '2270236',
            formId: '6680bbee-25f5-4a2a-9799-d8f5d40a524a',
            submitButtonClass: 'my-submit',
            target: '.form-modal-hub-form'
          });

        </script>

         <!-- End - Hubspot code start -->
        </div>
      </div>
<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>

  </div>
</div>