<style type="text/css">
  .sol-port-table {
  padding: 30px 0;
  border-bottom: 2px solid #CEE8F6;
/*  background-color: aliceblue;*/
  {% if backgroundColor is defined %}
    background: {{ backgroundColor }};
  {% endif %}
}

.sol-port__headline  {
  background-color: #00436f;
  color: white;
  font-size: 16px;
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.sol-port-table__list {
  list-style: square;
  padding-left: 0;
  margin-bottom: 50px;
}

.sol-port-table__list2 {
  list-style: square;
}

.sol-port-table__listitem {
  font-size: 16px;
  color: #6A6C66;
  line-height: 1.5em;
/*  list-style: decimal;*/
  margin-left: 9%;
  padding: 10px 0;
/* border-bottom: 1px dotted #e3e3e3; */
}

.sol-port-table__list2 .sol-port-table__listitem {
    font-size: 17px;
    /* color: #6A6C66; */
    line-height: 1.5em;
    /* list-style: decimal; */
    margin-left: 14%;
    padding: 5px 0;
    /* border-bottom: 1px dotted #e3e3e3; */
    text-align: left;
}

.sol-port-table__sublistitem {
  font-size: 1em;
  color: #7C7D7A;
  line-height: 1.6em;
  margin-left: 13%;
  list-style: circle;
}
.text-headline {
    color: #00436f;
    font-weight: 300;
}

.text-para {
    font-size: 15px;
    color: #474A4C;
    font-weight: 300;
}
</style>

<section class="container-fluid sol-port-table">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3 class="lede__headline">Value Creation through Active Management</h3>
          <hr class="lede__border"><p class="lede__subheadline">
          </p>
        </div>
        <div class="col-sm-4">
          <div class="sol-port__headline">Sectorial Expertise & Proprietary Deal Sourcing </div>
          <ul class="sol-port-table__list"><li class="sol-port-table__listitem">Extensive sectorial expertise to proactively identify, prioritise, track and pursue attractive investment themes </li>
            <li class="sol-port-table__listitem">Wide network of executives, entrepreneurs and promoters to ensure superior asset allocation</li>
          </ul></div>
        
        <div class="col-sm-4">
          <div class="sol-port__headline">Distinctive and Disciplinary Structuring</div>
          <ul class="sol-port-table__list"><li class="sol-port-table__listitem">Leverage distinctive structuring experience to mitigate downside risk and align objectives</li>
            <li class="sol-port-table__listitem">Leverage distinctive structuring experience to mitigate downside risk and align objectives</li>
            <li class="sol-port-table__listitem">Board seat in all investments</li>
          </ul></div>
        
        <div class="col-sm-4">
          <div class="sol-port__headline">Hands-on, Rigorous Due Diligence </div>
          <ul class="sol-port-table__list"><li class="sol-port-table__listitem">Internal and external teams involved with all diligence processes</li>
            <li class="sol-port-table__listitem">Deep understanding of key legal and regulatory risks</li>
            <li class="sol-port-table__listitem">Financial, commercial and legal experience leveraged from past experience</li>
          </ul></div>
        
      </div><!-- row -->

      <div class="row">
  

      
        <div class="col-sm-6">
          <div class="sol-port__headline">Strong, Active Involvement, with Operationally Oriented Approach to Portfolio Monitoring </div>
          <ul class="sol-port-table__list"><li class="sol-port-table__listitem">Value added through vision/strategy setting and effective monitoring and tracking of performance</li>
            <li class="sol-port-table__listitem">Monitoring of strategic, managerial and operational changes through a team of highly experienced senior individuals</li>
          </ul></div>

        <div class="col-sm-6">
          <div class="sol-port__headline">2.0x - 2.5x Return on Gross Capital Investment in 3–5 Years with a Target Return of 25% Gross IRR</div>
          <ul class="sol-port-table__list"><li class="sol-port-table__listitem">Capability to take mid-sized companies through the complete investment cycle across diverse sectors</li>
          </ul></div>
        
      </div><!-- row -->
    </div><!-- container-->
  </div><!-- row -->
</section>