<style type="text/css">
  .why-arc-c {
    padding: 30px 0;
    background: url(/assets/images/backgrounds/why-aranca-c-bkg.jpg);
    padding: 60px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #ffffff;
  }

  .why-arc-c__headline--main {
    margin-bottom: 20px;
  }
  .why-arc-c__headline {
    font-size: 30px;
    color: #fff;
    font-weight: 300;
    text-align: center;
  }

  .why-arc-c__headline--small {
    color: white;
    font-size: 1.1em;
    font-weight: 300;
    padding-top: 15px;
  }

  .why-arc-c__subtext {
    font-size: 18px;
    text-align: center;
    color: white;
    font-weight: 500;
  }
  .why-arc-c__border {
    width: 15%;
    border: 1px solid #fff;
  }
  .why-arc-c__headline--col {
    text-align: center;
  }
  .why-arc-c__content {
    color: #fff;
  }

  .why-arc-c__content > p {
    font-size: 1.1em;
  }

  .why-arc-c__border--content {
    width: 50%;
  }

  .why-arc-c__icon {
    opacity: 0.8;
  }

  .why-arc-c__list {
    margin-left: 10px;
  }

   .why-arc-c__listitem {
    background: rgba(33, 150, 243, 0.18);
    margin: 5px;
        padding: 10px 20px;
}
  .why-arc-c__content {
    padding: 10px 10px;
  }
</style>

<script type="text/javascript">
  new Waypoint.Inview({
    element: $('.why-arc-c__headline--col')[0],
    enter: function(direction) {
      $('.why-arc-c__headline--col').addClass('animated fadeInUp');
    }
  });
</script>



<section class="why-arc-c container-fluid">
  <div class="row">
    <div class="container">
      <div class="row why-arc-c__content">
        <div class="col-md-12">
          <h3 class="why-arc-c__headline">Why 35North</h3>
          <hr class="why-arc-c__border"><p class="why-arc-c__content">According to Inc., 25% of start-ups are unable to continue operations beyond the first year. 35North’s focus is on Pre-Series A companies with significantly less risky business models and more realistic valuations.
          </p>
          <p class="why-arc-c__content">35North, through its affiliate, has on-ground presence in Mumbai, NCR, and Bangalore, providing real-time access and strong pipeline of high-quality start-ups. Our investment process involves a thorough process of evaluation, review and exit. </p>
        </div>
      </div>

      <div class="row">
        <ul class="why-arc-c__list">
          <li class="why-arc-c__listitem">o &nbsp;&nbsp;Management team with each member having 20+ years of entrepreneurial and investment management experience</li>
          <li class="why-arc-c__listitem">o &nbsp;&nbsp;Exhaustive experience working with 1,000+ Silicon Valley start-ups</li>
          <li class="why-arc-c__listitem">o &nbsp;&nbsp;Investment in technology innovation and consumer-driven sectors</li>
          <li class="why-arc-c__listitem">o &nbsp;&nbsp;Investment through a rigorous evaluation process </li>
          <li class="why-arc-c__listitem">o &nbsp;&nbsp;Decade-long relationship with global investors and corporates providing avenues for successful exits </li>
        </ul>
      </div>

    </div><!-- end container -->
  </div><!-- end row -->
</section>





