<section name="experience" id="experience">
  <div class="container" style="margin-top:50px;"><!--S: container -->
    <div class="row"><!--S: row1 -->
      <div class="col-lg-12">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                <a href="#collapse-1" data-toggle="collapse" data-parent="#accordion">
                  Question one
                </a>
              </div><!--E: panel-title -->
              <div id="collapse-1" class="panel-collapse collapse">
                <div class="panel-body">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita similique quibusdam nobis facere dolorum reiciendis nihil cupiditate, aut ipsa delectus porro eius laborum optio quae consectetur minima, eligendi impedit eum.</p>
                </div><!--E: panel-body -->
              </div><!--E: collapse-1 -->
            </div><!--E: panel-heading -->
          </div><!--E: panel-->
        </div><!--E: panel-group -->
      </div><!--E: col -->
    </div><!--E: row1 -->
  </div><!--E: container -->
  </section>
