<div class="container-fluid" id="solutions" name="solutions">
  <div class="row">
    <section class="full-banner-a"  style="background-color:#F0EFEF;">
  <div class="container" style="margin-top:100px;">
    <div class="row">
      <div class="col-sm-12 col-md-12">
            <h2 class="landing__headline" style="text-align:center;">Leverage our research expertise across multiple strategic priorities  </h2>
          <br/>
          <div class="panel-group" id="accordion">
              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            <table class="table" style="margin-bottom:0px; " >
                              <tr><td class="col-md-3">Evaluate new geographies</td>
                              <td class="col-md-3">Define go-to-market strategies</td>
                              <td class="col-md-3">New products, Diversification</td>
                              <td class="col-md-3">Acquire companies</td>
                              </tr>
                            </table>
                          </a>
                      </h4>
                  </div>
                  <div id="collapse1" class="panel-collapse collapse in">
                      <div class="panel-body">
                          <table class="table">
                              <tr>
                              <td class="col-md-3">Quick scans - shortlist markets ‘Deep-dive’ market studies Country ‘doing business’ guides
                              PESTLE analysis Product design - emerging markets </td>
                              <td class="col-md-3">Strategic options, Business case Financial model / Feasibility report Site location analysis
                              Channel  or JV partner selection Supply chain mapping </td>
                              <td class="col-md-3">Diversification opportunity scans ‘Deep-dive’ market studies Technology landscape analysis
                              Value chain / profit pool maps Business case, Financial model </td>
                              <td class="col-md-3">Identify and shortlist targets Detailed company profiles ‘Fit’ analysis, Valuation multiples
                              Due diligence support Industry M&A Newsletters </td>
                              </tr>
                          </table>
                      </div><!--panel body -->
                  </div><!-- collapse1 -->
              </div><!-- panel info -->

              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            <table class="table" style="margin-bottom:0px; " >
                              <tr><td class="col-md-3">Increase market share</td>
                              <td class="col-md-3">Track, analyze competition</td>
                              <td class="col-md-3">Improve sales effectiveness</td>
                              <td class="col-md-3" class="col-md-3">Effective channel management</td>
                              </tr>
                            </table>
                          </a>
                      </h4>
                  </div>
                  <div id="collapse2" class="panel-collapse collapse">
                      <div class="panel-body">
                          <table class="table">
                              <tr>
                              <td class="col-md-3">New applications/end-markets Share-of-wallet analysis Up or cross-sell opportunity maps
                              Customer / channel feedback Competition benchmarking</td>
                              <td class="col-md-3">News alerts, Media monitoring Financial performance analysis Strategic initiatives
                              Deep-dive on specific areas Price / Product benchmarking </td>
                              <td class="col-md-3">Prospect lists, key contacts (B2B) Prospect profiles / Call prep notes Key account management
                              Client / Industry newsletters Sales-force KPI analytics </td>
                              <td class="col-md-3">Channel satisfaction surveys  Business outlook surveys  Channel KPI analytics
                              Competitor benchmarking  Channel planning / optimization</td>
                              </tr>
                          </table>
                      </div><!--panel body -->
                  </div><!-- collapse1 -->
              </div><!-- panel success -->

              <div class="panel panel-info">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            <table class="table" style="margin-bottom:0px; " >
                              <tr><td class="col-md-3">Enhance customer experience</td>
                              <td class="col-md-3">Implement digital strategies</td>
                              <td class="col-md-3">Drive innovation initiatives</td>
                              <td class="col-md-3">Business, Operating Plans</td>
                              </tr>
                            </table>
                          </a>
                      </h4>
                  </div>
                  <div id="collapse3" class="panel-collapse collapse">
                      <div class="panel-body">
                          <table class="table">
                              <tr>
                              <td class="col-md-3">Customer needs mapping Customer satisfaction studies Competition benchmarking
                              Social media monitoring Best practices, Case studies  </td>
                              <td class="col-md-3">Industry trends and analysis Best practices, success stories   Social media impact analysis
                              Back-end technology assessment  Business Case, Financial Model </td>
                              <td class="col-md-3">Innovation focused newsletters  Technology trends, forecasts  Social trends
                              Technology impact on business  Expert surveys on specific topics</td>
                              <td class="col-md-3">Industry analysis  Competition benchmarking  Ecosystem / value chain analysis
                              Financial modeling support  Scenario planning</td>
                              </tr>
                          </table>
                      </div><!--panel body -->
                  </div><!-- collapse1 -->
              </div><!-- panel info -->



          </div><!-- panel group accordion -->

      </div><!-- col-12 -->

    </div><!-- row -->
</div><!-- container -->
</section>
</div>
</div>
