<section class="assignment-examples inverted-white" name="people" id="people" style="margin-top:0px;">
  <div class="container-fluid assignment-examples__background">

    <div class="container">
      <div class="row" style="margin-bottom:40px; font-size:16px; letter-spacing: 1.2px;">
        <div class="col-md-12">
          <h1 class="lede__headline inverted-white text-center">
            <span class="fa fa-users fa-5x"></span> <br/>About Aranca
          </h1>
            <p>Founded in 2003, Aranca is a leading firm providing research & analytics to global clients, from start-ups to global financial institutions and Fortune 500 firms. Aranca has built a strong reputation for insightful opinions and actionable research across markets, industry sectors and technology domains. </p>

        </div>
      </div>
    </div>
  </div>
</section>
