<style type="text/css">
  .write-us a {
    color: #7ba9e4;
    font-size: 16px;
  }
</style>
<a id ="contact-us"></a>
<div class="container-fluid contact inverted-white" style="padding-bottom:50px; margin-bottom: -30px;">

  <div class="container">
    <div class="row">

    <div class="col-sm-4">
    <h3>Contact us</h3>
      <h5>35 North Ventures LLP</h5>
3rd Floor, B Wing,<br/>
Supreme Business Park,<br/>
Hiranandani Gardens, Powai,<br/>
Mumbai – 400076.<br/>
Tel: 91-22-3937-9988.<br/>
<i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:contactus@35northventures.com">contactus@35north.com</a>
    </div>

    <div class="col-sm-8 write-us">
    <h3 style="padding-left: 12px;">Write to us on how we could work together.</h3>
    <!-- <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:contactus@35northventures.com">contactus@35north.com</a><br/>
    <em>if you are interested in participating as an investor.</em></p>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:inquiry@35north.com">inquiry@35north.com</a><br/>
    <em>if you are a passionate entrepreneur, who would like to partner with us.</em></p>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:hr@35north.com">hr@35north.com</a> <br/>
    <em>if you are passionate about the start-up ecosystem and would like to join us.</em></p> -->

<!-- Inline CSS based on choices in "Settings" tab -->

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso">
 <div class="container-fluid">
  <div class="row">
   <div class="col-sm-12">
    <form method="post">
     <div class="form-group">
      <select class="select form-control" id="select" name="select" style="color:#555">
       <option value="I am an investor">
        I am an investor
       </option>
       <option value="I am an entrepreneur">
        I am an entrepreneur
       </option>
       <option value="I am a service provider">
        I am a service provider
       </option>
       <option value="I would like to join the team">
        I would like to join the team
       </option>
       <option value="Others">
        Others
       </option>
      </select>
     </div>
     <div class="row">    
     <div class="form-group col-sm-6">
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-user">
        </i>
       </div>
       <input class="form-control" id="name" name="name" placeholder="Full Name" type="text"/>
      </div>
     </div>
    <div class="form-group col-sm-6">
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-building">
        </i>
       </div>
       <input class="form-control" id="text" name="text" placeholder="Company Name" type="text"/>
      </div>
     </div>
     <div class="form-group col-sm-6">
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-envelope-o">
        </i>
       </div>
       <input class="form-control" id="email" name="email" placeholder="Email" type="text"/>
      </div>
     </div>
     <div class="form-group col-sm-6">
      <div class="input-group">
       <div class="input-group-addon">
        <i class="fa fa-phone-square">
        </i>
       </div>
       <input class="form-control" id="subject" name="subject" placeholder="Contact" type="text"/>
      </div>
     </div>
     </div>
     <div class="form-group ">
      <textarea class="form-control" cols="40" id="message" name="message" placeholder="Write to us on how we could work together." rows="4"></textarea>
     </div>
     <div class="form-group">
      <div>
       <button class="btn btn-primary btn-lg " name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>

    

    </div>
               

    </div>  <!-- end row -->
  </div>

</div>  <!-- end container-fluid -->






