<section name="services" id="services">
  <div class="container" style="margin-top:50px;"><!--S: container -->
    <div class="row text-center" style="margin:10px 0 30px;"><!--S: row1 -->
      <div class="col-lg-4">
      <hr class="title">
      </div>
      <div class="col-lg-4">
      <div style="color: #0072bc; font-size:30px; ">Services</div>
      </div>
      <div class="col-lg-4">
      <hr class="title">
      </div>

      <div class="col-md-12"><!--S: col12 -->
        <h3 class="lede_headline text-center">Choose the Editorial service package that suits your need</h3>
        <p class="lede_body text-center">Editorial at Aranca provides clients with three levels of edits: <span class="label label-warning">Standard</span> <span class="label label-primary">Intensive</span> <span class="label label-success">Express</span></p>
      </div><!--E: col12 -->
    </div><!--E: row1 -->


    <div class="row"><!--S: row3 -->
      <div class="col-md-4">
       <div class="alert alert-warning" ><strong>Standard editing</strong> involves a light-touch review of the content to check for the basics such as flow, consistency, grammar, punctuation and spelling. Minimalistic changes are made to the wording of the content, and any language-related errors are fixed at this stage.</div>
      </div><!--E: col4 -->
      <div class="col-md-4">
         <div class="alert alert-info" ><strong>Intensive editing,</strong> also known as comprehensive editing, is where the editor verifies the technical correctness of the content. More importantly, fact checking is done at this stage, and content is re-structured and re-organized, if required, while retaining the intended meaning. The editor looks for logic and flow of thought and makes the copy concise to enhance readability. They also check whether consistency has been maintained in style and format. The editor, based on the core theme of the copy, revises headlines and captions as needed.</div>
      </div><!--E: col4 -->
      <div class="col-md-4">
         <div class="alert alert-success" >We offer <strong>Express edits</strong> for fulfilling clients’ expedited requirements. The team comprises a group of experienced editors with expertise in working with tight deadlines while delivering superlative edits.</div>
      </div><!--E: col4 -->
    </div><!--E: row3 -->

  </div><!--E: container -->
</section>
