<style type="text/css">
  .write-us a {
    color: #7ba9e4;
    font-size: 16px;
  }
</style>
<a id ="contact-us"></a>
<div class="container-fluid contact inverted-white" style="padding-bottom:50px; margin-bottom: -30px;">

  <div class="container">
    <div class="row">

    <div class="col-sm-6">
    <h3>Contact us</h3>
      <h5>35 North Ventures LLP</h5>
3rd Floor, B Wing,<br/>
Supreme Business Park,<br/>
Hiranandani Gardens, Powai,<br/>
Mumbai – 400076.<br/>
Tel: 91-22-3937-9988.
    </div>

    <div class="col-sm-6 write-us">
    <h3>Write to us </h3>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:contactus@35northventures.com">contactus@35north.com</a><br/>
    <em>if you are interested in participating as an investor.</em></p>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:inquiry@35north.com">inquiry@35north.com</a><br/>
    <em>if you are a passionate entrepreneur, who would like to partner with us.</em></p>
    <p><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:hr@35north.com">hr@35north.com</a> <br/>
    <em>if you are passionate about the start-up ecosystem and would like to join us.</em></p>


    </div>
               

    </div>  <!-- end row -->
  </div>

</div>  <!-- end container-fluid -->






