<style type="text/css">
.article__box {
font-size: 17px;
line-height: 1.6;
text-align: justify;
}
.article__headline {
	    color: #2E7DA8;
	    margin-bottom: 20px;
}
.logo-wrapper {
    background-color: white;
    padding: 1.3em;
}
.shadow-box {
    box-shadow: 0 3px 6px 0 rgba(153, 153, 153, 0.35);
}
.mc__list__image {
	padding-left: 40px;
}
</style>

<div class="container article__box">
	<div class="col-sm-12">
		<h1 class="article__headline">India: 35North Ventures aims to close maiden $20m VC fund by year-end</h1>
	</div>
	<div class="col-sm-8">
		<p>At a time when Indian venture capital firms are amassing dry powder despite a slowdown in funding, Mumbai-based 35North Ventures LLP has also made its debut in this space with its maiden $20 million venture capital fund. </p>
		<p>The company recently launched 35North India Growth Fund – I focused on early stage investments in technology and consumer-driven sectors in India.</p>
	</div>

	<div class="col-sm-1">&nbsp;</div>

	<div class="col-sm-3 logo-wrapper shadow-box">
        <img src="/assets/images/publishers/deal-street-asia-logo.png" class="img-responsive mc__list__image" alt="Deal Street Asia">
	</div>
	<div class="col-sm-12">
		<p>Founded by industry veterans Ashwani Singh and Hemendra Aran, it aims to reach the first close in the next couple of months, followed by a final close by the end of the year. </p>

		<p>"We received a formal intimation towards the end of April and thereafter we started the fund raising process. We have already got commitments in. We hope to do a first close in a couple of months' time and hopefully by the end of the year, look at finishing the entire fundraise," Ashwani Singh, Partner, 35North India Growth Fund told DEALSTREETASIA in an interview.</p>

		<p>The company has so far roped in domestic and foreign HNIs and family offices to participate in its first fund. </p>

		<p>35North Ventures' Aran is also the CEO and founder of Aranca, an investment research and analytics firm, while Singh is a London School of Business alumni who has worked with global financial institutions such as Barclays Capital, ABN AMRO, ICICI Bank, and UTI international – UK (a T Rowe Price affiliate) in India and London. Singh was earlier the business head for mutual funds, alternatives and IPO business at ICICI Bank and managed assets worth Rs 13,500 crore.</p>

		<p>"Me and my partner (Hemendra) have wanted to start a venture capital fund targeting early stage companies, especially in the pre-Series A – Series A stage," Singh said.</p>

		<p>"We are primarily a tech and consumer focused fund. On the tech side, we are fairly agnostic, whether it is fintech, agritech or anything on the B2C side. I have not seen anything major on the medical health side, nothing that we feel that takes it to the next stage in terms of screening, so that is interesting," he added. </p>

		<p>The Mumbai-based investment firm plans to invest in 8-10 startups through this fund with an average ticket size of $500,000 to $3 million. In no rush to spend its fund, 35North Ventures plans to deploy the entire capital over the next couple of years.</p>

		<p>Hoping to tap into their connections with larger funds, the venture capital firm also has plans to launch its second fund, which is likely to be ten times bigger than the first at around $200-250 million.</p>

		<p>"The larger institutional investors that we know can come in only come in for a larger fund and a second fund. We intend to start the fundraise for that only when we have raised a majority of funding for our first fund as well as done a sizeable amount of investments," said Singh. </p>

		<p>The larger fund is also likely to enable 35North Ventures to cut larger sized cheques.</p>

		<p>"It might be a little premature to say, but the ticket sizes could definitely be bigger than what we are doing, so it could be in the $5-15 million bracket. But it will all come together close to the launch of the fund," added Singh.</p> 

		<p>The dry powder with VC firms is piling up as investments in early stage companies have pared its pace this year.</p>

		<p>Earlier this year, tech-focused venture capital firm Stellaris Venture Partners marked the first close of its $100-million fund at $50 million. Indian Angel Network, one of the largest angel networks in Asia, also marked the first close of its maiden fund at Rs 175 crore ($27.3 million). The fund has a target of Rs 350 crore ($55 million). Another early-stage investor pi Ventures also announced the first close of its $30 million fund at $13 million.</p>

		<p>Recently, it was also reported that Mumbai-based seed stage investor Artha India Ventures is planning to launch its own early-stage investment fund with a target size of $30 million. </p>

		<p>Other firms that are in the market to close their funds include Kae Capital, Unicorn India Ventures and StartupXSeed, among others.</p>


		<p style="padding-bottom: 40px;"><a href="https://www.dealstreetasia.com/stories/35north-ventures-sets-eyes-on-250m-vc-fund-next-yr-even-as-it-raises-maiden-one-77529/" class="btn btn-primary" role="button" target="_blank">Read More</a></p>

	</div>
</div>