<style type="text/css">
.article__box {
font-size: 17px;
line-height: 1.6;
text-align: justify;
}
.article__headline {
	    color: #2E7DA8;
	    margin-bottom: 20px;
}
.logo-wrapper {
    background-color: white;
    padding: 1.3em;
}
.shadow-box {
    box-shadow: 0 3px 6px 0 rgba(153, 153, 153, 0.35);
}
.mc__list__image {
	padding-left: 40px;
}
</style>

<div class="container article__box">
	<div class="col-sm-12">
		<h1 class="article__headline">After Sebi's Nod, 35North Ventures to launch Rs 130-cr maiden fund</h1>
	</div>
	<div class="col-sm-8">
		<p>MUMBAI: 35North Ventures is the latest addition to the growing list of early-stage funds that have been launched in the past six months, in what is increasingly adding to the optimism in the startup ecosystem about investors' comeback. </p>
		<p>35North Ventures has received the green signal from market regulator Sebi to launch its early-stage fund with a corpus of Rs 130 crore ($20 million).</p>
	</div>

	<div class="col-sm-1">&nbsp;</div>

	<div class="col-sm-3 logo-wrapper shadow-box">
        <img src="https://www.aranca.com/assets/uploads/logos/publishers/TheEconomicTimes.png" class="img-responsive mc__list__image" alt="">
	</div>
	<div class="col-sm-12">
		<p>"We are looking at (investing at the) pre-Series A and Series-A stages. We will look for companies that are 1.5-2 years old with at least two quarters of revenue history," said Ashwani Singh, partner at 35North Ventures.</p>

		<p>The 35North India Growth Fund will function as a category-1 alternative investment fund and will look at companies in fin tech, agri tech, medical tech and consumer tech. With ticket sizes ranging between Rs 3 crore and Rs 20 crore ($0.5-3 million), the fund is looking to back only 8-10 companies. </p>
		
		<p>"We are very picky and have a fairly high targeted internal rate of return (IRR) of 25%," said Singh. While Singh declined to name the investors in the fund, Sidbi is expected to have invested up to 15% of the corpus with some of the other investors, including global ultra HNIs and family offices. </p>

		<p>The fund is looking to make the Rs 40-50 crore first close of its fund at ` in the next two-three months even as it expects to close the fund in six months. </p>

		<p>"We have been screening companies over the last 5-6 months, so we have a pipeline of potentially large bets. By early next year, we should be able to deploy 60-70% of the fund," Singh told ET. </p>

		<p>35North Ventures is also looking to raise a second fund of $200-250 million as soon as it closes the first fund. "The idea with the first fund is to deploy most of it in the next six months and simultaneously start working on raising the second fund," said Singh. </p>

		<p>"Hence, when we are screening opportunities, we are looking for a fit in both funds," he added.</p> 

		<p>Over the past few quarters, a host of early-stage venture capital funds have taken shape, with corpuses ranging from Rs 100-300 crore. This ecosystem of new funds has created optimism about a pick-up in the investment cycle at the early stages. </p>

		<p>While the first quarter of 2017 saw investments dip in early stages, both by value and deal terms, experts and investors believe that the tide is set to turn as the exit scenario in India's unicorns is bringing back investors' lost faith in the startup ecosystem. </p>
		
		<p style="padding-bottom: 40px;"><a href="http://economictimes.indiatimes.com/small-biz/money/after-sebis-nod-35north-ventures-to-launch-rs-130-cr-maiden-fund/articleshow/59538622.cms" class="btn btn-primary" role="button" target="_blank">Read More</a></p>

	</div>
</div>