<div class="container-fluid">
  <div class="row">
    <section class="full-banner-a">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="margin-top:10px;">
            <h2 class="lede__headline--caps text-center inverted-white" style="margin-bottom:0px;font-weight: 600;"><span class="fa fa-pencil-square-o fa-5x"></span><br/>
               Customized Editing
            </h2>
            <hr style="border-width:3px; width: 15%;">
            <div class="lede__body text-center inverted-white">
              <p style="font-size:1.0em; margin-bottom: 50px;">Being well versed with most major style guides (CMOS, AP, APA, the Oxford Style Manual), our editors ensure reports adhere to international style requirements. Moreover, having worked with clients across geographies, we realize that preferences vary, and certain words and phrases do not resonate universally. Ergo, we offer highly customizable editing services to cater to specific client requirements. </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

