<div class="container">
  <h2 class="lede__headline--caps text-center" style="color: #0072bc">当前的职位空缺</h2>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="row well">
        <div class="col-md-6">
          <div class="job-item">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title job-title">研究分析员</h3>
              </div>
              <div class="panel-body">
                <h2>主要职责</h2>
                <ul class="job-list-items">
                  <li>为历史的年度及中期财务及运营数据更新和建立财务模型</li>
                  <li>更新年度及中期财务数据以及模型中的运营指标和其他公司数据</li>
                  <li>创建公司的亚太地区财务模型。本工作包括提交年度及中期历史数据、确定性收入及成本驱动因素以及其他运营指标</li>
                  <li>创建收入及成本结构，并预测未来三年的财务报表。预测依据逻辑和推理，加入了任何具体的管理评论和指导</li>
                  <li>工作还包括创建一个一致表，将我们的估计与华尔街的估计进行比较。此外，与本公司（具体而言）或本行业（一般而言）有关的任何其他相关分析</li>
                  <li>更新模型中与彭博有关的价格数据</li>
                  <li>根据运营数据更新图表和为图表加标题</li>
                  <li>根据公司电话会议笔录撰写电话会议概要（约 2 页）</li>
                  <li>根据公司业务报告撰写要点</li>
                  <li>每日为公司的投资组合准备每日股票跟踪，包括有关分析师升级/降级、发起和终止、股票回购、内幕交易、4 周 EPS 修订等的更新</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- end col-md-8 col-md-offset-2" -->
        <div class="col-md-6">
          <div class="job-item well" style="background: white;">
            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="job__subhead">关键要求</h2>
                <ul class="job-list-items">
                  <li>注册金融分析师或金融方向 MBA，3－5 年股票研究经验 </li>
                  <li>优秀的金融建模技能，能够理解和规划业务驱动的收入、成本等</li>
                  <li>丰富的金融会计、估值方法和股票分析知识</li>
                  <li>很强的内容写作能力，能够清晰地提出投资论据和论点</li>
                  <li>较高层次的沟通技巧，能够清晰、简明地表达观点</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="job-item well" style="background: white;">
            <div class="panel panel-default">
              <div class="panel-body">
                <h2 class="job__subhead">职位详情</h2>
                <ul class="job-list-items">
                  <li><strong>空缺职位：</strong>2 个</li>
                  <li><strong>地点</strong>：上海</li>
                  <li><strong>上级</strong>：中国区负责人</li>
                </ul>
                <p><a href="mailto:china@aranca.com?subject= for the position of Research Analyst with Aranca China" class="btn btn-primary btn-block" style="text-transform: uppercase;">立即申请</a></p>
              </div>
            </div>
          </div>
        </div>
        <!-- end col-md-8 col-md-offset-2" -->
      </div>
      <!-- end row -->
    </div>
  </div>
</div>
