<style type="text/css">
  .intro__para {
    font-size: 1.3em;
    text-align: center;
  }
</style>
<div class="container" id="why" name="why">
  <div class="row">
    <div class="col-md-12">
      <!-- <h1 class="landing__headline">Why Aranca?</h1> -->
      <div class="landing__content" style="text-align: left;">
        <p class="intro__para">We are a proposed Pre-Series A or Series A venture capital fund (VCF - 1) focused on enabling high growth stage companies with commercially viable and revenue generating products & services, from the technology and consumer driven sectors in Indai.</p>
        <br/>
        <!-- <h2 class="landing__headline">What we do</h2> -->
      </div>
      <!-- End of landing__content -->
    </div>
    <!-- End of col-md-6 -->
  </div>
  <!-- End of row -->
</div>
<!-- End of container -->
