<style>

  .kc-masthead {
    position: relative;
     color: white;
    background:  
    url('img/1250x300-new.jpg') no-repeat center center;
    background:  
    url('img/1250x300-new.jpg') no-repeat center center;
    background: 
    url('img/1250x300-new.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    max-height: 250px;
  }

  .kc-masthead2 {
    position: relative;
     color: white;
    background: 
    url('img/1250x300-new-22.jpg') no-repeat center center;
    background: 
    url('img/1250x300-new-22.jpg') no-repeat center center;
    background: 
    url('img/1250x300-new-22.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    max-height: 250px;
  }

  .kc-masthead3 {
    position: relative;
     color: white;
    background: 
    url('img/1250x300-new-33.jpg') no-repeat center center;
    background: 
    url('img/1250x300-new-33.jpg') no-repeat center center;
    background: 
    url('img/1250x300-new-33.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    max-height: 250px;
  }

  .kc-masthead4 {
    position: relative;
     color: white;
    background: 
    url('img/1250x300-new-44.jpg') no-repeat center center;
    background: 
    url('img/1250x300-new-44.jpg') no-repeat center center;
    background: 
    url('img/1250x300-new-44.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 300px;
    max-height: 250px;
  }

  .kc-masthead__content {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 60%;
  }

  .kc-masthead__content--headline {
    font-size: 2em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 2px 2px 3px #232323;
  }

  .kc-masthead__content--tagline {
    font-size: 2.3em;
    line-height: 1em;
    font-weight: 300;
    text-shadow: 2px 2px 3px #232323;
  }

  .kc-masthead__border {
    margin: 5px 0;
    max-width: 100%;
    border-color: #64bf2a;
    border-width: 1px;
  }
  .kc-masthead__arrow {
    opacity: 0.6;
  }
  .kc-masthead__arrow a {
    color:#fff;
  }
  .kc-masthead__arrow a:hover {
    color:blue;
    opacity: 1.0;
  }
  .kc-masthead__arrow a:visited {
    color:#fff;
  }

 @media only screen and (max-width: 600px) {
    .kc-masthead__content--headline {
      font-size: 1.3em;
    }

    .kc-masthead__content--tagline {
      font-size: 1.5em;
    }

    .kc-masthead__content {
    text-align: center;
    position: absolute;
    top: 15%;

  }

</style>

<section class="container-fluid kc-masthead">
  <div class="row">
    <div id="myCarousel" class="carousel carousel-fade" data-ride="carousel">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
 -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active kc-masthead">
      <div class="kc-masthead__content">
        <h1 class="kc-masthead__content--headline"></h1>
      </div>
    </div>

   <!--  <div class="item kc-masthead2">
      <div class="kc-masthead__content">
        <h1 class="kc-masthead__content--headline"></h1>
      </div>
    </div>

    <div class="item kc-masthead3">
      <div class="kc-masthead__content">
        <h1 class="kc-masthead__content--headline"></h1>
      </div>
    </div>

    <div class="item kc-masthead4">
      <div class="kc-masthead__content">
        <h1 class="kc-masthead__content--headline"></h1>
      </div>
    </div>
  </div> -->

  <!-- Left and right controls -->
<!--   <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> -->
</div>
  </div>
</section>



<a id="about"></a>