
<style type="text/css">

  .mr-masthead {
    position: relative;
     color: white;
    background: -webkit-linear-gradient(rgba(80, 76, 76, 0.78), rgba(103, 92, 92, 0.45)) , 
    url('/assets/images/masthead/mr-masthead-bkg.jpg') no-repeat center center;
    background: -o-linear-gradient(rgba(80, 76, 76, 0.78), rgba(103, 92, 92, 0.45)) , 
    url('/assets/images/masthead/mr-masthead-bkg.jpg') no-repeat center center;
    background: linear-gradient(rgba(80, 76, 76, 0.78), rgba(103, 92, 92, 0.45)) , 
    url('/assets/images/masthead/mr-masthead-bkg.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 170px;
    max-height: 170px;
  }

  .mr-masthead__content {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 50%;
  }

  .mr-masthead__content--headline {
    font-size: 3.5em;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 2px 2px 3px #232323;
  }

  .mr-masthead__content--tagline {
    font-size: 1.8em;
    line-height: 1em;
    font-weight: 300;
    text-shadow: 2px 2px 3px #232323;
  }

  .mr-masthead__border {
    margin: 5px 0;
  }


  @media (min-width: 300px) and (max-width: 1024px) {

    .mr-masthead__content {
      padding-top: 10px;
    }
  
    .mr-masthead__content--headline {
      font-size: 1.5em;
    }

    .mr-masthead__content--tagline {
      font-size: 1.0em;
    }

  }

</style>


<section class="container-fluid mr-masthead">
  <div class="row">
    <div class="mr-masthead__content">
      <h2 class="mr-masthead__content--headline">Media Room</h2>
      <hr class="mr-masthead__border">
      <p class="mr-masthead__content--tagline">
      Announcements, Coverage, Press Release and more</p>
    </div>
  </div>
</section>
