<style type="text/css">
#catList {
  padding-top:0px;
  background-color: rgba(22, 168, 237, 0.08);
}
.shadow-box {
    box-shadow: 0 3px 6px 0 rgba(153, 153, 153, 0.35);
}
.kc-content__list__item {
  margin: 60px 0;
  background: #fff;
}

.kc-content__list__item img {

}

.kc-content__list__item:first-child {
  margin-top: 30px;
}

.kc-content__grid__inner {
  padding: 0.8em;
  padding-left: 20px;
}

.kc-logo-wrapper {
  min-height: 200px;
  padding: 1em 2em;
}

.kc-logo-wrapper img {
  display: block;
  margin: 0 auto;
  position: relative;
  padding-top: 8%;
}

.kc-content__headline {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.04em;
  line-height: 1.2em;
}

.kc-content__publisher {
  color: #ccc7c7;
  letter-spacing: 0.05em;
  font-size: 0.85em;
}

.kc-content__excerpt {
  color: #a2a2a2;
  font-size: 1.1em;
}

.kc-content__date {
  color: #ccc7c7;
  letter-spacing: 0.05em;
}

.kc-content__article-body {
  display: none;
}

.mc__list__image {
 width: 50%;
}

.meta {
  color: #ccc7c7;
  letter-spacing: 0.05em;
}
.logo-grid {
  padding: 20px 0;
      font-family: "Raleway",sans-serif;
}

.logo-grid__header {
  color: #b1b1b9;
  font-size: 2em;
  font-weight: 300;
      font-family: "Raleway",sans-serif;
  padding: 20px 0;
}
</style>

<div class="container-fluid" id="catList">
	<div class="container logo-grid">
	  <div class="logo-grid__header">
	    <p class="text-center">35North Ventures in the Media as seen in</p>
	  </div>
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <ol class="kc-content__list">
			<li class="kc-content__list__item shadow-box">
			  <div class="row">
			    <div class="col-lg-5 col-sm-12">
			      <div class="kc-logo-wrapper">
			        <img src="https://www.aranca.com/assets/uploads/logos/publishers/TheEconomicTimes.png" class="img-responsive mc__list__image" alt="" style="width:70%; padding-top: 25%;" >
			      </div>
			    </div>
			    
			    <div class="col-lg-7 col-sm-12">
			      <article class="kc-content__grid__item kc-content__blog image-cover">
			        <div class="kc-content__grid__inner">
			          <h5 class="kc-content__headline">
			          <a target="_blank" href="http://economictimes.indiatimes.com/small-biz/money/after-sebis-nod-35north-ventures-to-launch-rs-130-cr-maiden-fund/articleshow/59538622.cms">After Sebi's Nod, 35North Ventures to launch Rs 130cr maiden fund</a></h5>
			          <p class="kc-content__publisher">
			          covered by <strong> The Economic Times </strong><span><a href="/35north-ventures-launch-rs-130-cr-maiden-fund">| Read it on our website</a></span></p>
			          <p class="kc-content__excerpt">35North Ventures is the latest addition to the growing list of early-stage funds that have been launched in the past six months, in what is increasingly adding to the optimism in the startup ecosystem about investors' comeback.</p>
			          <p class="kc-content__date"><em><small>published on July 11, 2017</small></em></p>
			        </div>
			      </article>
			    </div>   
			  </div>
			</li>
		  </ol>
		</div>
	  </div>
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <ol class="kc-content__list">
			<li class="kc-content__list__item shadow-box">
			  <div class="row">
			    <div class="col-lg-5 col-sm-12">
			      <div class="kc-logo-wrapper">
			        <img src="/assets/images/press-release.png" class="img-responsive mc__list__image" alt="" style="width:30%;" >
			      </div>
			    </div>
			    
			    <div class="col-lg-7 col-sm-12">
			      <article class="kc-content__grid__item kc-content__blog image-cover">
			        <div class="kc-content__grid__inner">
			          <h5 class="kc-content__headline">
			          <a target="_blank" href="http://www.35northventures.com/35north-ventures-launch-of-a-venture-capital-fund">35North Ventures announces the launch of a Venture Capital fund</a></h5>
			          <p class="kc-content__excerpt">35North India Growth Fund-1 is focussed on consumer and technology driven sectors to support start-up eco-system in India</p>
			          <p class="kc-content__date"><em><small>published on May 05, 2017</small></em></p>
			        </div>
			      </article>
			    </div>   
			  </div>
			</li>
		  </ol>
		</div>
	  </div>
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <ol class="kc-content__list">
			<li class="kc-content__list__item shadow-box">
			  <div class="row">
			    <div class="col-lg-5 col-sm-12">
			      <div class="kc-logo-wrapper">
			        <img src="https://www.aranca.com/assets/uploads/logos/publishers/VC-Circle.JPG" class="img-responsive mc__list__image" alt="">
			      </div>
			    </div>
			    
			    <div class="col-lg-7 col-sm-12">
			      <article class="kc-content__grid__item kc-content__blog image-cover">
			        <div class="kc-content__grid__inner">
			          <h5 class="kc-content__headline">
			          <a target="_blank" href="http://www.vccircle.com/news/alternative-investment/2017/01/30/exclusive-35north-ventures-launches-tech-and-consumer-focused">Exclusive: 35North Ventures launches tech- and consumer-focused growth fund</a></h5>
			          <p class="kc-content__publisher">
			          covered by <strong> VC Circle </strong><span><a href="/35north-ventures-launches-tech-and-consumer-focused-growth-fund">| Read it on our website</a></span></p>
			          <p class="kc-content__excerpt">Mumbai-based asset management company 35North Ventures LLP has launched a debut growth-stage fund targeting early stage investments in the country,</p>
			          <p class="kc-content__date"><em><small>published on Jan 31, 2017</small></em></p>
			        </div>
			      </article>
			    </div>   
			  </div>
			</li>
		  </ol>
		</div>
	  </div>
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">
	      <ol class="kc-content__list">
			<li class="kc-content__list__item shadow-box">
			  <div class="row">
			    <div class="col-lg-5 col-sm-12">
			      <div class="kc-logo-wrapper">
			        <img src="/assets/images/press-release.png" class="img-responsive mc__list__image" alt="" style="width:30%;" >
			      </div>
			    </div>
			    
			    <div class="col-lg-7 col-sm-12">
			      <article class="kc-content__grid__item kc-content__blog image-cover">
			        <div class="kc-content__grid__inner">
			          <h5 class="kc-content__headline">
			          <a target="_blank" href="/assets/pdf/Wealth-Finance-January-2017.pdf">Building Great Ventures</a></h5>
			          <p class="kc-content__publisher">
			          covered by <strong> Wealth & Finance International </strong><span><a href="/assets/pdf/Wealth-Finance-January-2017.pdf">| Read it on our website</a></span></p>
			          <p class="kc-content__excerpt">Ashwani Singh is partner at 35North Ventures LLP, a financial product and services company which has two India Centric products</p>
			          <p class="kc-content__date"><em><small>published on Jan 31, 2017</small></em></p>
			        </div>
			      </article>
			    </div>   
			  </div>
			</li>
		  </ol>
		</div>
	  </div>
	</div>

	
</div>