<section name="experience" id="experience">
  <div class="container-fluid" style="margin-top:50px; background-image: url('/assets/images/backgrounds/restaurant.png');">
  <div class="container">
    <div class="row text-center">
      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <h1 class="landing__headline">Experience</h1>
        <div class="landing__content">
        <p style="font-size:20px;">Delivered research projects across sectors in emerging and developed markets</p></div>
          <div class="col-sm-6 col-md-6">
            <div class="list-group">
              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for aircraft MRO in MENA region</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:10px 0;'>Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:10px 0;'>Research study on ‘Services business’ of leading aerospace companies</li>
              <li style='padding:5px 0;'>A&D offset policies and market opportunities in 16 countries</li></ul>">AEROSPACE & DEFENCE</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Fuel cell technologies - market sizing and technology landscape</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market opportunity assessment for micro and mini hydro turbines</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on bio-fuels in BRIC and CIVETS</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Financial feasibility and business plan for solar power plant in Africa</li>
              <li style='padding:5px 0;'>Global market study on wind turbines in the 50-150 KW range</li>
              </ul>">ALTERNATE ENERGY</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Automobiles & Auto Parts" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Identification of investment opportunities in GCC’s auto parts sector</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market Study on remanufactured automotive components in China and USA</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on retreaded tires in Latin American countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global study on potential for forged aluminium wheels in CVs</li>
              <li style='padding:5px 0;'>Market study on automotive batteries in BRIC and CIVETS</li>
              </ul>">AUTOMOBILES & AUTO PARTS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Beverages" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market potential for hot bottle vending machines in UK</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Feasibility study for packaged water in Middle Eastern countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on RTD juices in select Asian countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market analysis - global malt based non-alcoholic drinks</li>
              <li style='padding:5px 0;'>Market study on beer consumption in Africa</li>
              </ul>">BEVERAGES</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Capital Goods" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on decanters in China and India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on grinding machines, covering seven countries in Asia</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity for packaged water treatment plants in India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry analysis - machine tools manufacturing in China</li>
              <li style='padding:5px 0;'>Global market study on cast resin transformers</li>
              </ul>">CAPITAL GOODS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Construction, Real Estate, Infrastructure" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Analysis of EU27 spend (current / forecasts) on infrastructure projects</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on modular space / storage systems in India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market opportunity for project management and design services</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on autoclaved aerated concrete blocks in Qatar and KSA</li>
              <li style='padding:5px 0;'>Industry analysis – real estate sector in Russia</li>
              </ul>">CONSTRUCTION, REAL ESTATE, INFRASTRUCTURE</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Consumer Electronics" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market analysis for car audio systems in India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry report on consumer electronics segment in Africa</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Consumer electronics retailing in India and South America</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Feature / price benchmarking of LED TVs sold in GCC countries</li>
              <li style='padding:5px 0;'>Mapping global manufacturing locations of international companies</li>
              </ul>">CONSUMER ELECTRONICS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Healthcare Services" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Feasibility report for new 150 bed hospital in Saudi Arabia</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry analysis - emerging trends in healthcare services in Africa</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on healthcare related business process  outsourcing</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry analysis - managed care markets in Europe and Americas</li>
              <li style='padding:5px 0;'>Market opportunity assessment for diabetes care in GCC region</li>
              </ul>">HEALTHCARE SERVICES</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Industrial Consumables" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on coolant oil used in machining applications</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market assessment for grinding wheels in select European countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for fluidizing fabrics in sixteen countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry report on the global industrial gloves market</li>
              <li style='padding:5px 0;'>Identification of acquisition targets in occupational wear segment (Asia)</li>
              </ul>">INDUSTRIAL CONSUMABLES</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Insurance" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Opportunity assessment for insurance products in US HNI segment</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Use of social media by insurance companies</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Competitor Intelligence Report - South Africa Insurance Market</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Study on Extended Warranty, Home and Auto Insurance in Germany</li>
              <li style='padding:5px 0;'>Global market study on travel insurance products</li>
              </ul>">INSURANCE</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Media & Entertainment" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for Video-on-Demand services in Asia</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Analysis of the online classifieds market in select Asian countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global study on massively multiplayer online role-playing games</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>US media conversion and archival services Market</li>
              <li style='padding:5px 0;'>Feasibility study for cinema multiplex chain across MENA countries</li>
              </ul>">MEDIA & ENTERTAINMENT</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="NON Ferrous Metals" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global study on aluminum usage in automobiles</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Techno-commercial due diligence on copper refining unit in KSA</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Opportunity assessment for aluminum extrusions in select Asian countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Downstream fabrication opportunities for copper, zinc and brass in GCC</li>
              <li style='padding:5px 0;'>Market potential for aluminum foil used in packaging (six Asian countries)</li>
              </ul>">NON FERROUS METALS </a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Packaging" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market Study on 2 cc & 3 cc pumps and dispensers in MENA region</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on egg packaging in select SE Asian countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on extrusion coated paper and release liners in E Europe</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Cost-to-shipment analysis for aerosol can filling in Europe</li>
              <li style='padding:5px 0;'>Market study on lamitubes usage in South America</li>
              </ul>">PACKAGING</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Petrochemicals" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Identification of investment opportunities in plastic processing (KSA)</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Analysis on impact of recession on petrochemical companies</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Asian market demand-supply dynamics for TDI and MDI</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global industry analysis on Linear alkyl benzene</li>
              <li style='padding:5px 0;'>Analysis of emerging technologies in ethylene cracking</li>
              </ul>">PETROCHEMICALS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Precious Metals" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market analysis for e-waste processing to extract precious metals</li></li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market for platinum / palladium extraction from end-of-life vehicle recycling</li></li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on automotive catalysts and demand for PGM</li></li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Platinum consumption in jewelry manufacturing (India, China, USA)</li></li>
              <li style='padding:5px 0;'>Market potential for platinum group metals in electronics sector</li></li>
              </ul>">PRECIOUS METALS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Retail" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Retail of office supplies in select Asian countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Current status of online grocery retail in 30+ economies</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry analysis of retail sector in 18 MEA countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Procurement analysis of consumables by leading retailers in China</li>
              <li style='padding:5px 0;'>Operating and financial metrics database of global retailers</li>
              </ul>">RETAIL</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Telecommunications" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Telecom spend by healthcare and education sector in EU15 countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on Mobile Virtual Network Operators (MVNOs)</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market potential for telecom towers and infrastructure sharing in Africa</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for mobile VAS services in Asia</li>
              <li style='padding:5px 0;'>Market study on enterprise telecom spend in USA</li>
              </ul>">TELECOMMUNICATIONS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Travel & Tourism" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Study to assess emerging opportunities in health tourism in India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market assessment of the travel accommodation industry in Australia</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Competitive benchmarking of the leading tour operators in N America</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Feasibility study for a 5-star hotel project in Ethiopia</li>
              <li style='padding:5px 0;'>Market study on limited service / budget hotel segment in India</li>
              </ul>">TRAVEL & TOURISM</a>

            </div>
          </div>

          <div class="col-sm-6 col-md-6">
            <div class="list-group">
              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Techno-economic feasibility report for integrated poultry project in Senegal</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global study on trends in genetically modified foods crops and seeds</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Research study on El Nino effect on agriculture produce and fish landings</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Sector note on meat and poultry farming in Australia and New Zealand</li>
              <li style='padding:5px 0;'>Market study on cold storages and reefer trucks in India</li>
              </ul>">AGRIBUSINESS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry analysis - global luxury apparel market</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Valuation of a sports apparel and equipment retail company in KSA</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Cost structure benchmarking of apparel exports from India and Bangladesh</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on the innerwear market in India</li>
              <li style='padding:5px 0;'>Competition analysis - global apparel brand strategies in Asia</li>
              </ul>">APPAREL & FOOTWEAR</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Banking" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Operations and financial performance of foreign banks in </li>Asian countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Competitor intelligence report on credit card issuers in the UK</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry analysis - innovation in global retail banking</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Research report on future outlook for Islamic Banking</li>
              <li style='padding:5px 0;'>Market sizing - SME banking in GCC region</li>
              </ul>">BANKING</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Business Support Services" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Benchmarking call center operating / capital costs in six countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market report on the facilities management sector in GCC</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global study - third party whistle-blowing hotline services</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on security services in GCC region</li>
              <li style='padding:5px 0;'>Industry analysis - business process outsourcing in India and China</li>
              </ul>">BUSINESS SUPPORT SERVICES</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Commodity Chemicals" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Due diligence study for proposed chlor alkali project in Saudi Arabia</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Mapping end-markets and key customers for hydrochloric acid in S America</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment  for sodium hypochlorite in India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market  opportunity assessment for food-grade phosphates in Asia</li>
              <li style='padding:5px 0;'>Benchmarking cost structures of chlor-alkali manufacturers</li>
              </ul>">COMMODITY CHEMICALS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Consumer Durables | Non Durables" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Distribution practices for high-end sanitaryware in South Korea</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Mapping / analysis of global plants of white food producers manufacturers</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on modular kitchens in India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Analysis of the Asian market for brown goods</li>
              <li style='padding:5px 0;'>Product / price benchmarking – domestic appliances in Brazil and Argentina</li>
              </ul>">CONSUMER DURABLES | NON DURABLES</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Ferrous Metals" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on flat steel products in US, Mexico and Canada</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global survey of steel mills to assess technology trends in BF operation</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Feasibility study for steel pipes and tubes plant in Middle East region</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on steel wires used in mining industry</li>
              <li style='padding:5px 0;'>Global market study on opportunity for roll maintenance services</li>
              </ul>">FERROUS METALS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Household Care Products" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on laundry care products in six Asian countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on air fresheners in South America</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on home insecticides in Australia and New Zealand</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Analysis of the European market for dishwashing detergents</li>
              <li style='padding:5px 0;'>Competitor strategies – global and regional household care brands</li>
              </ul>">HOUSEHOLD CARE PRODUCTS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Information Technology" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on IT managed services in GCC region</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Survey of CIOs in SE Asian countries to understand usage of ERP systems</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for cloud based storage in the US</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for remote technical services in the US</li>
              <li style='padding:5px 0;'>M&A target identification in the internet infrastructure space</li>
              </ul>">INFORMATION TECHNOLOGY</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Internet" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on online payments segment in Western Europe</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Benchmarking of product / price / features in cloud computing sub-segments</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Research study on internet and mobile advertising in Western Europe</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Product benchmarking of hosted e-commerce solutions</li>
              <li style='padding:5px 0;'>Impact of internet on traditional video games and consoles retailing</li>
              </ul>">INTERNET</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Medical Devices" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market assessment study for Glaucoma Drainage Devices in Europe</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry report on medical devices in Vietnam and China</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Identification of distributors in India for European medical </li>device company</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on medical devices in Saudi Arabia and UAE</li>
              <li style='padding:5px 0;'>Technology assessment – non invasive blood sugar monitoring</li>
              </ul>">MEDICAL DEVICES</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Oil & Gas" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for oil drilling chemicals in Middle East</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market forecasts for refinery revamp spending in Asia and Africa</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Analysis of EPC opportunities in the global LNG market</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry report on shale gas opportunities in Australia and Mexico</li>
              <li style='padding:5px 0;'>Peer benchmarking – global integrated oil and gas companies</li>
              </ul>">OIL & GAS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Personal Care Products" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on natural skin-care products in Asia</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on deodorants and anti-perspirants</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry analysis – US beauty and personal care market</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Profiling of regional cosmetic brands in India</li>
              <li style='padding:5px 0;'>Distribution practices for hair-care products in India</li>
              </ul>">PERSONAL CARE PRODUCTS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Pharmaceuticals" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Price elasticity survey on antiplatelet agents versus generics in Iran</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on Propofol</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Research report on Asian OTC Pharma sector (covering 12 countries)</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Business plan for a clinical research outsourcing firm in India</li>
              <li style='padding:5px 0;'>Epidemiology and disease burden report for emerging economies</li>
              </ul>">PHARMACEUTICALS</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Processed Food" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on canned meat in the Middle East region</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on value-added dairy products in India, China</li> and Vietnam</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Business plan for mango pulp processing plant in Senegal</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Competitive benchmarking of breakfast food brands in USA and Europe</li>
              <li style='padding:5px 0;'>Analysis of pet-food market in USA</li>
              </ul>">PROCESSED FOOD</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Specialty Chemicals" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on active pharmaceutical ingredients in Western Europe</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Opportunity assessment for manufacturing specialty chemicals in GCC</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on fragrance & flavours in India</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Global market study on artificial sweeteners</li>
              <li style='padding:5px 0;'>Feasibility report for polymer additives plant in Middle East region</li>
              </ul>">SPECIALTY CHEMICALS </a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Transportation" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market study on European temperature controlled logistics segment</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Opportunity assessment for dry bulk cargo transportation in Middle East</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Assessing inland logistics costs for a new packaging facility in Brazil</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market opportunity assessment for NFO courier services in Asia</li>
              <li style='padding:5px 0;'>Identification of JV partners for warehousing chain in GCC region</li>
              </ul>">TRANSPORTATION</a>

              <a class="list-group-item" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Utilities" data-content="<ul>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Competitive benchmarking - utilities in Europe</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Market potential for sub-station equipment in GCC countries</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Benchmarking electricity tariffs for PPAs across 45 countries globally</li>
              <li style='border-bottom:1px solid #CDCDCD; padding:5px 0;'>Industry reports on power sector in select West African countries</li>
              <li style='padding:5px 0;'>Global market study on smart energy meters</li>
              </ul>">UTILITIES</a>
            </div>
          </div>

      </div><!-- col 12 -->
    </div><!-- row -->
    </div>
  </div><!-- container -->
</section>
