<section>
  <div class="container" style="margin-top:50px; margin-bottom:50px;">
    <div class="row text-center">
      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <h1 class="landing__headline">Experience</h1>
        <div class="landing__content">
        <p style="font-size:20px;">Delivered research projects across sectors in emerging and developed markets</p></div>
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">AEROSPACE & DEFENCE </a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">AGRIBUSINESS</a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">ALTERNATE ENERGY </a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">APPAREL & FOOTWEAR </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">AUTOMOBILES & AUTO PARTS  </a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">BANKING </a>

          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">BEVERAGES</a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">BUSINESS SUPPORT SERVICES  </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">CAPITAL GOODS  </a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">COMMODITY CHEMICALS </a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">CONSTRUCTION, REAL ESTATE, INFRASTRUCTURE  </a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">CONSUMER DURABLES | NON DURABLES  </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">CONSUMER ELECTRONICS  </a>

          <a tabindex="0" class="btn btn-lg btn-default" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">FERROUS METALS </a>

          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">HEALTHCARE SERVICES </a>

          <a tabindex="0" class="btn btn-lg btn-default" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">HOUSEHOLD CARE PRODUCTS  </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">INDUSTRIAL CONSUMABLES </a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">INFORMATION TECHNOLOGY </a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">INSURANCE </a>

          <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">INTERNET </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

            <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-default" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">MEDIA & ENTERTAINMENT </a>

          <a tabindex="0" class="btn btn-lg btn-default" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">MEDICAL DEVICES </a>

          <a tabindex="0" class="btn btn-lg btn-default" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">NON FERROUS METALS  </a>

          <a tabindex="0" class="btn btn-lg btn-default" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">OIL & GAS  </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">PACKAGING  </a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">PERSONAL CARE PRODUCTS </a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">PETROCHEMICALS </a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">PHARMACEUTICALS  </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">PRECIOUS METALS  </a>

          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">PROCESSED FOOD</a>

          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">RETAIL </a>

          <a tabindex="0" class="btn btn-lg btn-success" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">SPECIALTY CHEMICALS
 </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->

      <div class="col-sm-12 col-md-12" style="margin-bottom:20px;">
        <div class="btn-group" role="group">
          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Aerospace & Defence" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market opportunity assessment for aircraft MRO in MENA region</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Supply contracts awarded by global A&D companies (Fortnightly newsletter)</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global Market Overview: Unmanned Aerial Vehicles (UAV) & Systems</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on ‘Services business’ of leading aerospace companies</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> A&D offset policies and market opportunities in 16 countries </li></ul>">TELECOMMUNICATIONS</a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Agribusiness" data-content="<ul>

          <li><span class='glyphicon glyphicon-ok-circle'></span> Techno-economic feasibility report for integrated poultry project in Senegal</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global study on trends in genetically modified foods crops and seeds</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Research study on El Nino effect on agriculture produce and fish landings</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Sector note on meat and poultry farming in Australia and New Zealand</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on cold storages and reefer trucks in India</li></ul>">TRANSPORTATION</a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Alternate Energy" data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Fuel cell technologies - market sizing and technology landscape
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market opportunity assessment for micro and mini hydro turbines
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on bio-fuels in BRIC and CIVETS
          <li><span class='glyphicon glyphicon-ok-circle'></span> Financial feasibility and business plan for solar power plant in Africa
          <li><span class='glyphicon glyphicon-ok-circle'></span> Global market study on wind turbines in the 50-150 KW range</ul>">TRAVEL & TOURISM </a>

          <a tabindex="0" class="btn btn-lg btn-primary" role="button" data-toggle="popover" data-html="true" data-trigger="hover" data-placement="bottom" title="Apparel & Footwear " data-content="<ul>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Industry analysis - global luxury apparel market</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Valuation of a sports apparel and equipment retail company in KSA</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Cost structure benchmarking of apparel exports from India and Bangladesh</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Market study on the innerwear market in India</li>
          <li><span class='glyphicon glyphicon-ok-circle'></span> Competition analysis - global apparel brand strategies in Asia</li></ul>">UTILITIES </a>
        </div><!-- E: group -->
      </div><!-- col 12 -->


    </div><!-- row -- >
  </div><!-- container -->
</section>
