
<section id="solutions" name="solutions">
  <div class="container">
    <div class="row text-center">
      <h1 class="landing__headline" style="margin-top:10px;">Our Fund Strategy</h1>
      <hr class="divider-center">
    </div>
      <div class="landing__content" style="text-align: left;">
        <p style="font-family:Verdana;">We are a business catalyst. We combine the powers of our management team's experience in building global businesses and fund management with our well-developed partner and deal-flow ecosystem to identify, invest and mentor entrepreneurs with businesses that are commercially viable and have a market-tested revenue model.</p>
        <br/>
        <!-- <h2 class="landing__headline">What we do</h2> -->
      </div>
      <!-- End of landing__content -->
    <div class="row text-center">
      <div class="col-sm-2 col-sm-offset-1">
        <div class="r-icons" style="font-size:2em;"><i class="fa fa-bar-chart"></i></div>
        <div class="r-title text-center">Fund Size</div>
        <div class="r-content text-center">
          <p>INR 1000 Million (Greenshoe 30%)</p>
        </div>
      </div><!-- E: col 4 -->

      <div class="col-sm-2">
        <div class="r-icons" style="font-size:2em;"><i class="fa fa-key"></i></div>
        <div class="r-title text-center">Target Firms / Sector </div>
        <div class="r-content text-center">
          <p><strong>Sector</strong> - Consumer-driven segments and technology sector</p>
        </div>
      </div><!-- E: col 4 -->

      <div class="col-sm-2 text-center">
        <div class="r-icons" style="font-size:2em;"><i class="fa fa-search"></i></div>
        <div class="r-title text-center">Funding Series</div>
        <div class="r-content text-center">
          <p>Post angel investments and during <strong>Pre-Series-A</strong> or <strong>Series-A</strong></p>
        </div>
      </div>

      <div class="col-sm-2 text-center">
        <div class="r-icons" style="font-size:2em;"><i class="fa fa-bar-chart"></i></div>
        <div class="r-title text-center">Funding Tenure</div>
        <div class="r-content text-center">
          <p>7 Years + 1 + 1</p>
        </div>
      </div>

      <div class="col-sm-2 text-center">
        <div class="r-icons" style="font-size:2em;"><i class="fa fa-key"></i></div>
        <div class="r-title text-center">Investment Size</div>
        <div class="r-content text-center">
          <p>INR 50 Million to 100 Million</p>
        </div>
      </div>

      </div><!-- E: col 4 -->
    </div><!-- E: row -->

  </div><!-- E: container -->
</section>

<a id ="our-team"> </a>
