<section id="solutions" name="solutions">
  <div class="container" style="margin-top:50px;">
    <div class="row text-center" style="margin:10px 0 30px;">
      <div class="col-lg-12">
      <hr class="title">
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <div class="r-icons"><i class="fa fa-bar-chart"></i></div>
        <div class="r-title">Portfolio Analysis and<br/> Patent Analytics</div>
        <div class="r-content">
          <li>Technology Landscapes</li>
          <li>Portfolio Quality Index – PQI</li>
          <li>Patent portfolio due diligence</li>
          <li>Patent portfolio restructuring post M&A</li>
          <li>Intake due diligence</li>
        </div>
      </div><!-- E: col 4 -->

      <div class="col-lg-4 col-sm-4">
        <div class="r-icons"><i class="fa fa-key"></i></div>
        <div class="r-title">Licensing Support Services</div>
        <div class="r-content">
          <li>Market Potential Analysis</li>
          <li>New application area identification</li>
          <li>Evidence of use/Claim charts</li>
          <li>Patent Valuation</li>
        </div>
      </div><!-- E: col 4 -->

      <div class="col-lg-4 col-sm-4">
        <div class="r-icons"><i class="fa fa-search"></i></div>
        <div class="r-title">Prior Art Search</div>
        <div class="r-content">
          <li>Standard Searches</li>
            <div class="col-sm-offset-1">
            <li>Novelty</li>
            <li>FTO / Clearance</li>
            <li>Infringement</li>
            <li>Validity</li>
            </div>
        </div>
      </div><!-- E: col 4 -->


    </div><!-- E: row -->

    <div class="row">
      <div class="col-lg-4 col-sm-4">
        <div class="r-icons"><i class="fa fa-cogs"></i></div>
        <div class="r-title">Research &amp; Development<br/> Services</div>
        <div class="r-content">
        <li>Opportunity Assessment</li>
        <li>Competitive Intelligence</li>
        <li>Technology Management</li>
            <div class="col-sm-offset-1">
            <li>Technology Scouting</li>
            <li>Technology Roadmaps</li>
            </div><!-- offset 1 -->
        </div>
      </div><!-- E: col 4 -->

      <div class="col-lg-4 col-sm-4">
        <div class="r-icons"><i class="fa fa-life-ring"></i></div>
        <div class="r-title">Litigation Support Services</div>
        <div class="r-content">
        <li>Pre-litigation</li>
          <div class="col-sm-offset-1">
          <li>Claim charts </li>
          <li>Claim constructions</li>
          </div>
        <li>Pre-trial (Technical)</li>
          <div class="col-sm-offset-1">
          <li>PICs</li>
          <li>Technical document review</li>
          </div>
        <li>Pre-trial (Business)</li>
          <div class="col-sm-offset-1">
          <li>Market/product study</li>
          <li>Profiling (Product/Company/Expert)</li>
          </div>
        </div>
      </div><!-- E: col 4 -->
    </div><!-- E: row -->
  </div><!-- E: container -->
</section>

