<section class="svc">
  <p class="svc__content__intro">与我们的团队合作，您可以获得各个行业、技术领域和区域市场的全球经验和能力。我们专注于</p>
  <div class="container">
    <!-- ROW 1 content -->
    <div class="row">

      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
        <h2 class="svc__content__headline">投资研究</h2>
        <p>Aranca 专注于向买方和卖方公司提供及时的、复杂的和定制化的投资研究及分析支持。</p>
        <p>我们为分析师、投资经理和银行家提供金融研究，帮助他们扩大研究范围和深度而无需增加固定成本。</p>
        <p>我们的定制化支持使客户能够专注于创收和面向客户的活动。我们的团队擅长于涵盖多个资产类别——股票、公司信用、不良债务和结构性信贷，并且在从事横跨全球不同领域的工作方面具有丰富的经验。</p>
        <div class="triangle-right"></div>
      </div>
      <!-- stat content starts here -->
      <div class="svc__stat__content col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">百万小时</h4>
        <p class="svc__stat__spotlight__content text-center">的研究经验</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">80+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc" style="padding-left: 1em;">涵盖全球 80 多个细分行业</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">4000+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">有关发达市场和新兴市场 4000 多家公司的股票研究和信用研究笔记</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">12,500+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">开发和分析了 12500 多个财务模型</span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
    </div>
    <!-- end Row -->
    <div class="sep50"></div>
    <!-- ROW 2 content -->
    <div class="row">
      <!-- stat content starts here -->
      <div class="svc__stat__content--full col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">850+</h4>
        <p class="svc__stat__spotlight__content text-center">涵盖 60 多个国家的 <br>850 多种独特产品和服务</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">30+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">&nbsp;&nbsp;以 30 多种语言开展研究
</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">30,000+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">已交付 30000 多个项目</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">500+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">遍及美洲、欧洲、海湾合作委员会、非洲和亚洲的 500 多个全球客户</span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
        <h2 class="svc__content__headline ">商业研究</h2>
        <p>Aranca 为跨职能的企业领导，针对其客户、竞争对手、市场和供应商提供以“很难找到却不容忽视”的研究和分析为后盾的情报，帮助他们做出正确的决策。</p>
        <div class="triangle-left"></div>
      </div>
    </div>
    <!-- end Row -->
    <div class="sep50"></div>
    <!-- ROW 3 content -->
    <div class="row">
      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1">
        <h2 class="svc__content__headline">知识产权研究</h2>
        <p>Aranca 提供以咨询解决方案为后盾的研究和分析，帮助知识产权所有者、管理者和从业人员投资、利用和管理他们的知识产权，横跨各技术领域，贯穿专利的生命周期。</p>
        <div class="triangle-right"></div>
      </div>
      <!-- stat content starts here -->
      <div class="svc__stat__content col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">7500+</h4>
        <p class="svc__stat__spotlight__content text-center">已交付 7500 多个专利研究项目
</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">450+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">服务 450 多个客户</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">70+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">在 70 多个市场、以 10 多种语言开展研究</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">250+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">涵盖 250 多个技术领域</span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
    </div>
    <!-- end Row -->
    <div class="sep50"></div>
    <!-- ROW 4 content -->
    <div class="row">
      <!-- stat content starts here -->
      <div class="svc__stat__content--full col-md-4 col-md-push-1 col-lg-4 col-lg-pull-1">
        <h4 class="svc__stat__spotlight text-center">Top 3 in USA</h4>
        <p class="svc__stat__spotlight__content text-center">位列美国前 3 强 409A 估值公司</p>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">2500+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">为 2500 多次估值提供了咨询</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">800+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">服务横跨 20 多个行业的 800 多个客户</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">25+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">超过 25 位拥有 ASA、CFA、CPA 和 CA 证书的高级估值专业人员</span>
            </div>
          </div>
          <!-- end row -->
        </article>
        <article class="svc__stat__item">
          <div class="row">
            <div class="col-sm-3">
              <span class="svc__stat__focus">250+</span>
            </div>
            <div class="col-sm-9">
              <span class="svc__stat__desc">涵盖 250 多个技术领域</span>
            </div>
          </div>
          <!-- end row -->
        </article>
      </div>
      <!-- stat content ends here -->
      <div class="svc__content col-md-6 col-md-push-1 col-lg-6 col-lg-pull-1" style="margin-top: 50px;">
        <h2 class="svc__content__headline ">估值咨询</h2>
        <p>Aranca 经认证且经验丰富的估值专业人员团队，为企业所有者和管理者提供针对各种交易及报告需求的无偏见、
        正当有理的估值意见和报告。</p>
        <div class="triangle-left"></div>
      </div>
    </div>
    <!-- end Row -->
  </div>
  <!-- end container -->
</section>
