<section id="factsheet" name="factsheet">
  <div class="container"  style="margin-top:50px; margin-bottom:50px;">
    <div class="row text-center" style="margin:10px 0 30px;">
      <div class="col-lg-4">
      <hr class="title">
      </div>
      <div class="col-lg-4">
      <div style="color: #EC752C; font-size:30px; ">Factsheet</div>
      </div>
      <div class="col-lg-4">
      <hr class="title">
      </div>
    </div><!-- row text center -->

    <div class="row">
    <div class="col-md-12">


        <p style="text-align:center;color:#0072BC;">We combine global research expertise and efficient service delivery to deliver value.</p>
      <div class="tabbable-panel">
          <div class="row text-center">
            <div class="col-lg-3 col-sm-3">
              <div class="w-title">250+  </div>
              <div class="w-content">Technology domains, researched by our analysts</div>
            </div><!-- col 3 -->

            <div class="col-lg-3 col-sm-3">
              <div class="w-title">7500+ </div>
              <div class="w-content">Number of patent projects executed to-date</div>
            </div><!-- col 3 -->

            <div class="col-lg-3 col-sm-3">
              <div class="w-title">80% </div>
              <div class="w-content">Staff with advanced degrees (Masters and PhD) </div>
            </div><!-- col 3 -->

            <div class="col-lg-3 col-sm-3">
              <div class="w-title">10+ </div>
              <div class="last">Languages, that we conduct document searches in across 70+ jurisdictions</div>
            </div><!-- col 3 -->
          </div><!-- row -->
      </div><!-- E: tabble panel -->

      </div><!-- E: col 12 -->
      </div><!-- E: row -->
      </div><!-- E: Container -->
</section>
