<style type="text/css">
.article__box {
font-size: 17px;
line-height: 1.6;
text-align: justify;
}
.article__headline {
	    color: #2E7DA8;
	    margin-bottom: 20px;
}
.logo-wrapper {
    background-color: white;
    padding: 1.3em;
}
.shadow-box {
    box-shadow: 0 3px 6px 0 rgba(153, 153, 153, 0.35);
}
.mc__list__image {
	padding-left: 40px;
}
</style>

<div class="container article__box">
	<div class="col-sm-12">
		<h1 class="article__headline">Exclusive: 35North Ventures launches tech- and consumer-focused growth fund</h1>
	</div>
	<div class="col-sm-8">
		<p>Mumbai-based asset management company 35North Ventures LLP has launched a debut growth-stage fund targeting early stage investments in the country, a top executive told VCCircle. </p>
		<p>The emerging market-focused fund plans to provide investment opportunities to domestic and global investors focusing on small- to medium-sized high-growth private and public companies operating in India’s technology, financial services, consumer and healthcare sectors. </p>
	</div>

	<div class="col-sm-1">&nbsp;</div>

	<div class="col-sm-3 logo-wrapper shadow-box">
        <img src="https://www.aranca.com/assets/uploads/logos/publishers/VC-Circle.JPG" class="img-responsive mc__list__image" alt="">
	</div>
	<div class="col-sm-12">
		<p>The fund would look for investment opportunities in companies with commercial validation and those that have generated revenues for at least two quarters.</p>
		<p>It has started discussions with entrepreneurs to create a pipeline to invest after the approval from market regulator Securities and Exchange Board of India (SEBI) comes through.</p>
		<p>The firm has filed for SEBI registration for its venture capital fund, called 35North India Growth Fund-I as a category I alternative investment fund, that would be managed by Ashwani Kumar Singh, partner at 35North Ventures, and Hemendra Aran, who is also CEO and founder of  Aranca, an investment research and analytics firm.</p>
		<p>The fund is expecting to raise Rs 100 crore ($15 million) with an additional green-shoe option of 30% to invest in high-growth-stage companies with commercially viable and revenue-generating products and services, said Singh.</p>
		<p>Singh previously worked as business head – mutual funds, alternatives and IPO business at ICICI Bank and managed mutual fund assets worth Rs 13,500 crore.</p>
		<p>He also advised family offices and HNIs for investments of over $120 million in unlisted and listed companies as well as real estate funds. As the IPO business head, he also managed issues from a distribution perspective including the $2 billion follow-on public issue of ICICI Bank and the IPO of Tata Consultancy Services Ltd (TCS).</p>
		<p>The fund would look to make post-angel, pre-Series A and Series A investments worth $1 million to a couple of million dollars across 8-12 deals. It would also co-invest in larger deals, he said.</p>
		<p>It is tapping ultra HNIs, family offices, institutional investors and fund of funds. It also plans to launch a larger second fund going forward, Singh said.</p>
		<p>The fund has a seven-year tenure with an average holding period of two-to-three years and a 2/20 fee structure with an expected internal rate of return (IRR) of 25%, he said. </p>

		<h3 class="article__headline">Early stage funds</h3>
		<p>Aranca joins a host of the early stage funds targeting startups coming into the market. Last week, early-stage venture capital firm Endiya Partners made the final close of its debut fund at Rs 175 crore (around $26 million) targeting the technology, healthcare and consumer services space.</p>
		<p>In November last year, Accel Partners raised $450 million  under a new fund to make seed and early-stage investments in Indian startups. This was the fifth and the largest India fund of the Silicon Valley-headquartered VC firm.</p>
		<p>In 2015, seed-stage venture capital firm Blume Ventures raised over $30 million for its second fund to mark the first fundraising milestone. Blume's new fund would be twice the size of its predecessor but would back half the number of firms.</p>
		<p>In November last year, Infosys Ltd said it will invest in the maiden fund of home-grown early-stage venture capital firm Stellaris Venture Partners, which was launched by three former executives at Helion Venture Partners.</p>
		<p>In September last year, early stage venture capital firm YourNest launched its second fund, YourNest India Fund II, with a target of raising Rs 300 crore.</p>
		<p>Besides, the founders of Mumbai-based co-working space provider and startup accelerator Z Nation Lab said last year it was planning to launch a seed-stage venture capital fund to back technology firms.</p>
		<p>Ventureast Fund Advisors India Ltd had announced the first close of its sixth fund—Ventureast Procative Fund II (VPF2)—at $83 million en route to a target corpus of $150 million in total. Unitus Seed Fund was also looking to mark the first close of its $50 million second fund by the end of 2016.</p>
		<p>In August, LetsVenture founder Manish Singhal floated an early stage venture fund called Pi Ventures with entrepreneur Umakant Soni.</p>
		<p>Inventus Capital Partners, Kalaari Capital and IDG Ventures are also looking for investors for their new funds.</p>
		<p>These VC firms are looking to replicate the success of larger peers such as Sequoia Capital, Nexus Venture Partners, SAIF Partners and Accel Partners that raised new funds for India in the last two years.</p>
		<p style="padding-bottom: 40px;"><a href="http://www.vccircle.com/news/alternative-investment/2017/01/30/exclusive-35north-ventures-launches-tech-and-consumer-focused" class="btn btn-primary" role="button" target="_blank">Read More</a></p>

	</div>
</div>