<style type="text/css">
.article__box {
font-size: 17px;
line-height: 1.6;
text-align: justify;
}
.article__headline {
	    color: #2E7DA8;
	    margin-bottom: 20px;
}
.logo-wrapper {
    background-color: white;
    padding: 1.3em;
}
.shadow-box {
    box-shadow: 0 3px 6px 0 rgba(153, 153, 153, 0.35);
}
.mc__list__image {
	padding-left: 40px;
}
</style>

<div class="container article__box">
	<div class="col-sm-12">
		<h1 class="article__headline">35North Ventures announces the launch of a Venture Capital fund</h1>
	</div>



	<div class="col-sm-12">

	<p style="font-size: 22px;">35North India Growth Fund-1 is focussed on consumer and technology driven sectors to support start-up eco-system in India</p>
	
	<p><strong>Mumbai, 5th May, 2017:</strong> 35North Ventures LLP has announced the launch of its AIF Category -I,  a Pre-Series A / Series-A venture capital fund focused on enabling high growth stage companies from the technology and consumer driven sectors in India. This fund is based on the idea of developing start-ups with commercially viable and revenue generating products & services.</p>

	<p>The spending ability of an Indian consumer has significantly increased. The growth potential for consumer sector is immense considering that annual per capita household consumption in India is just $988 compared to $2,402 in China and $35,468 in US. When coupled with the tech savvy nature of Indian consumer, it provides a lucrative investment prospect in this space. These sectors have been attractive investment targets for last few years and are expected to witness significant activity in terms of innovations and investment.</p>

<p>India is on the verge of becoming the 3rd largest start-up hub in the world having over 4750 start-ups in 2016. Start-up base is poised to grow further to reach 10,500 by 2020 indicating a rapidly expanding universe. With a number of existing start-ups focusing on tech-backed and consumer driven offerings, India provides a large pool of potential investment opportunities in these domains. Tech backed start-ups are making deep in-roads in consumers’ day-to-day life offering much better convenience and enhanced service utility. </p>

<p>In an effort to support the start-up ecosystem in India, fund managers of 35North are already in talks with potential investee companies. The Fund will be actively managed by Ashwani Singh and Hemendra Aran. Ashwani Singh has 20+ years of experience in investments and in industry in India, Europe and Asia. He would be focussing on filtering and mentoring potential investee companies. He adds, “It is an exciting time for technology and consumer companies with the entire consumption pattern undergoing a dramatic change. Urbanisation, young working couples, increasing women in workforce, rapid internet and smartphone penetration has changed the way we live our life. Smart, agile entrepreneurs and companies are now catering to this changed lifestyle by new business and service delivery models.”</p>

<p>Over 65% of start-ups are based in top metros such as Bangalore, Delhi and Mumbai where 35North has an on-ground presence. In the time to come with the increasing base of tech-savvy millennials, growing educated workforce, rising income levels and changing consumer preferences driven by need for more convenience would ensure sustained demand growth for innovative consumer plays and technology applications making these sectors viable and attractive investment targets.</p> 
<hr/>
<p style="padding-bottom: 30px;"><em>35North is an emerging market focused asset manager providing investment opportunities to domestic and global investors. The investment company, 35 North Ventures LLP is focussed on opportunities arising in small to medium-sized high growth private companies, as well as, high quality public companies operating in India’s Technology, BFSI, Consumer and Healthcare sectors. 35North is registered with SEBI for its Venture Capital Fund, 35North India Growth Fund -I which focuses on early stage private and public companies in the technology and consumer-driven sectors.</em></p>

	</div>
</div>