<!doctype html>
<html class="no-js" lang="">
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Helping passionate entrepreneurs build high growth businesses </title>
      <meta name="description" content="We are a proposed Pre-Series A or Series A venture capital fund focused on enabling high potential start-up businesses with proven revenue models from the high tech and consumer sectors in India.">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="keywords" content="investment venture">

      <link rel="apple-touch-icon" href="apple-touch-icon.png">
      <!-- Place favicon.ico in the root directory -->

      <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
      <!-- Latest compiled and minified CSS -->

      <link rel="stylesheet" href="assets/css/font-awesome.min.css">

      <!-- Bootstrap Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

      <!-- Bootstrap Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="assets/css/bootsnav.css">
      <link rel="stylesheet" href="assets/css/animate.css">
      <link rel="stylesheet" href="assets/css/main.css">
      <link rel="stylesheet" href="assets/css/custom.css">
      <script src="assets/js/head/modernizr.js"></script>

      



    </head>
