.lede__headline, .lede__headline--caps, .lede__headline-b {
    font-size: 2em;
    color: #59656B;
    text-align: center;
    font-weight: 300;
}
.lede__headline--white {
    font-size: 2em;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
}
.lede__border {
    width: 15%;
    border: 1px solid #00436f;
}
.lede__subheadline, .lede__subheadline--white, .lede__subheadline-b {
    font-size: 18px;
    color: #474A4C;
    font-weight: 300;
    text-align: center;
}
.lede__subheadline--white {
    font-size: 18px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}
