<div class="container-fluid" name="careers" id="careers">
  <div class="row">
    <section class="full-banner-b">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" style="margin-top:20px;">
            <h2 class="lede__headline--caps text-center inverted-white" style="margin-bottom:0px; text-shadow: 1px 1px 5px #A4A1A1;">
              加入我们的团队
            </h2>
            <hr style="border-width:3px; width: 15%;">
            <div class="lede__body text-center inverted-white">
              <p style="font-size:0.9em;">我们正在中国/亚太地区发展业务能力。为此，我们正在寻找最优秀的行业人才，以便向客户提供投资、业务和知识产权研究以及估值和咨询实践方面的高质量的研究解决方案。
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
