<div class="top-bar">
  <div class="container">
    <div class="row">
      <nav class="icon-link-list col-sm-3 hidden-xs">
        <ul class="list-inline pull-left hidden-xs">
          <li class="icon-link-list-item">
            <a href="https://twitter.com/aranca" data-iconcolor="#00acee" target="_blank">
            <i class="fa fa-twitter-square" style="font-size:1.5em;"></i>
            </a>
          </li>
          <li class="icon-link-list-item">
            <a href="https://www.linkedin.com/company/aranca" data-iconcolor="#5FB0D5" target="_blank">
            <i class="fa fa-linkedin-square" style="font-size:1.5em;"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- .icon-link-list -->
      <nav class="icon-link-list col-sm-9 col-xs-12">
        <ul class="list-inline">
          <li class="icon-link-list-item">
            <a href="mailto:info@aranca.com?subject=RE: Intellectual Property Research Services" data-iconcolor="#00acee">
            <i class="fa fa-envelope-o" style="font-size:1em;"></i>
            info@aranca.com
            </a>
          </li>
          <li class="hidden-xs">
            <a href="http://www.aranca.com" target="_blank" class="topbar__link"><i class="fa fa-globe"></i> <small>Visit our Global Website</small></a>
          </li>
        </ul>
      </nav>
      <!-- .icon-link-list -->
    </div>
    <!-- .row -->
  </div>
  <!-- .container -->
</div>
<!-- .topbar -->
